@azul: #33b1e4;
@roxo: #84459b;
@laranja: #F19B30;
@vermelho: #ed2627;
@verde: #19ad4f;
@amarelo: #e9e217;
@branco: #fff;
@preto: #000;

@fundo: #fcf6da;
@fundo_menu: #fff;
@fundo_mesas: #D8E4DC;
@fundo_jog: #1B98CB;
@fundo_mao: #CCEBF9;

@largura_carta: 100px;
@altura_carta: 141px;
@carta_sat: 80%;
@carta_dark: 10%;
@carta_light: 25%;

.azul_arredondado {
	.sombra;
	background-color: @fundo_menu;
	border-style: solid;
	border-width: thin;
	border-color: @azul;
	border-radius: 1em;
	margin-left: 15%;
	margin-right: 15%;
}

.sombra {
  box-shadow: 0.05em 0.05em 0.1em #000;
}

html {
    height: 100%;
}

body {
	height: 100%;
	margin: 0em;
	background-color: @fundo;
	font-family:"Arial";
}
header {
  margin: 0em;
	height: 1.2em;
}

.centro {
  margin: 0em;
	width: 100%;
	height: 100%-6em;
}

.rodape {
	background-color: @vermelho;
	clear:both;
	height: 2em;
	height: 5%;
}

ul {
	padding: 0px;
}
li {
	list-style-type:none;
}

#grande_logo {
	.azul_arredondado;
	//background-image:url('/static/imagens/logo.png') ;
	//background-repeat:no-repeat;
	//background-position:center; 
	//background-size: 80%;
	//display: block;
	padding: 3%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#logo_inicial {
	width: 90%;
	margin-left: 5%;
}

#moldura_logo_salas {
	height:20%;
}
#logo_salas {
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}

#menu_inicial {
	.azul_arredondado
}

.link_inicial {
	display:block;
	text-decoration:none;
	margin-bottom: 0.2em;
  margin-left: 35%;
  margin-right: 35%;
	padding-top: 1%;
	padding-bottom: 1%;
	//padding: 30%;
	color: @branco;
	border-radius: 0.3em;
	text-align: center;
	text-shadow: 0.05em 0.05em 0.1em #000;
  font-weight:bold;
	.sombra;
	&.iniciar {
		background-color: @roxo;
	}
	&.entrar {
		background-color: @laranja;
	}
	&.registrar {
		background-color: @amarelo;
	}
	&.rank {
		background-color: @verde;
	}
}

.divisao_esq {
  width: 25%;
  height: 100%;
  float:left;
}
.divisao_dir {
	width: 75%;
	float: left;
	height: 100%;
}

.painel (@cor) {
	color: @branco;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-style: solid;
	border-width: thin;
	background-color: @cor;
	border-color: @cor;

	h5 {
		margin: 0.2em;
		margin-left: 0.7em;
	}
	table {
		width: 100%;
	}
	tbody {
		width: 100%;
	}
	tr {
		width: 100%;
	}
}

.p_criar_jogo {
	.painel(@laranja);
	margin-top: 20%;
}
.p_participantes_lobby {
	.painel(@vermelho);
}
.p_participantes_sala {
	.painel(@vermelho);
}
.p_salas {
	.painel(@azul);
}
.p_chat {
	.painel(@verde);
	margin-top: 1em;
}

.submenu(@cor) {
	margin-top: 0em;
	margin-left: 5%;
	margin-right: 5%;

	border-style: solid;
	border-width: thin;
	border-color: @cor;
	background-color: @branco;
	ul {
		margin: 0em;
	}
}
.sp_criar_jogo {
	.submenu(@laranja);
	height: 3em;
	input {
		border: 1px solid rgb(181, 188, 199);
		width: 90%;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 4%;
	}
}
#salas {
	.submenu(@azul);
	overflow-y: scroll;
	color: @preto;
	height: 40%
}
#participantes_central {
	.submenu(@vermelho);
	overflow-y: scroll;
	color: @preto;
	height: 50%; 
	h5 {
		margin: 0em;
	}
}
#participantes_sala {
	.submenu(@vermelho);
	overflow-y: scroll;
	color: @preto;
	height: 10em; 
	h5 {
		margin: 0em;
	}
  table {
    width: 100%;
  }
  .col_nome_jog {
    width: 40%;
  }
  .col_pronto {
    width: 40%;
    text-align: center;
  }
}
.topo_sala {
  height: 15em;
}
.topo_sala_esq {
  width: 50%;
  float: left;
}
.topo_sala_dir {
  width: 50%;
  float: left;
}
.titulo_sala {
  .azul_arredondado;
  text-align: center;
  margin-top: 1em;
}
.link_sala_sair {
  .link_inicial;
  background-color: @vermelho;
}
#botao_pronto {
  .link_inicial;
  cursor: pointer;
  margin-top: 2em;
  background-color: @amarelo;
}

.rolo {
	.submenu(@verde);
	color: @preto;
	overflow-y: scroll;
	height: 40%;
}
#form_chat {
	.submenu(@verde);
	input {
		border: 1px solid rgb(181, 188, 199);
		width: 100%;
	}
}

.col_nome_jogo {
	width: 40%;
}
.col_jogs {
	width: 40%;
	text-align: center;
}

.infos {
	position: relative;
	top: -0.5em;
	left: 15em;
	height: 1.5em;
	width: 20em;
	display: block;
	background-color: @branco;
	border-width: thin;
	border-style: solid;
	border-radius: 8px;
	border-color: @azul;
	padding: 0.25em;
	color: @preto;
}

.icone_jogo {
  height: 90%;
}
.num_painel_jogo {
  margin: 0em 0.5em 0em 0.2em;
  padding-bottom: 0.5em;
  display: inline;
  font-size: 1.2em;
}

.maioria {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
	background-size:100% 100%;
  .nao_selecionavel;
  &.pol {
    background-image:url('/static/imagens/vermelha.png');
  }
  &.fic {
    background-image:url('/static/imagens/azul.png');
  }
  &.esp {
    background-image:url('/static/imagens/laranja.png');
  }
  &.ent {
    background-image:url('/static/imagens/amarela.png');
  }
  &.soc {
    background-image:url('/static/imagens/verde.png');
  }
  &.lit {
    background-image:url('/static/imagens/roxa.png');
  }
}





.nao_selecionavel {
  -webkit-user-select: none;
}


.botao_jogo {
  .nao_selecionavel;
  width: 4em;
  height: 4em;
  float: right;
  margin: 0.2em;
  background-size:100% 100%;
  &:hover {
  }
  
  &#mais_din {
    background-image:url('/static/imagens/b_pegardindin.png');
  }
  &#mais_carta {
    background-image:url('/static/imagens/b_pegarcarta.png');
  }
  &#jogar_carta {
    background-image:url('/static/imagens/b_jogarcarta.png');
  }
  &#descartar_carta {
    background-image:url('/static/imagens/b_descartar.png');
  }
  &#comprar_carta {
    background-image:url('/static/imagens/b_pegardescarte.png');
  }
}

.pre_mesas {
	width: 100%;
	height: 75%;
	overflow-x: scroll;
	overflow-y: hidden;
}
.mesas {
	width: 5000px;
	height: 100%;
	background-color: @fundo_mesas;
	//margin: 0em;
}
.menu_jogadas {
	background-color: @fundo_mao;
	height: 25%;
	margin-top: 0em;
	padding: 1em;
}
.sub_menu_jogadas {
	background-color: #FFF;
	border-style: solid;
	border-width: thin;
	border-color: #777;
	border-radius: 0.5em;
	height: @altura_carta+10;
	width: 99%;
}

.menu_mao {
	display: inline-block;
	margin: 65px auto auto 5px;
}

.carta {
	width: @largura_carta;
	height: @altura_carta;
	display: inline-block;
	margin: -65px 0px;
	.nao_selecionavel;
	background-size: 100%;
	//background-repeat:no-repeat;

	&:hover {
		border-color: #000;
		border-style: solid;
		border-width: 2px;
		border-radius: 0.5em;
		//position: relative;
		//z-index: 10;
	}
}
#carta_zoom {
	width: @largura_carta*3;
	height: @altura_carta*3;
	position: fixed;
	display: none;
	top: 2em;
	background-size: 100%;
	.nao_selecionavel;
}
.msg {
	.sombra;
	width: 20em;
	height: 8.5em;
	position: fixed;
	top: 10em;
	left: 30em;
	display: none;
	background-color: @fundo_jog;
	text-align: center;
	color: @branco;
	font-weight: bold;
	border-radius: 10px;
}
#msg_escolha {
  .msg;
}
#msg_fim {
  .msg;
}
.bot_msg {
	.sombra;
	background-color: @azul;
	display:block;
	text-decoration:none;
	color: @branco;
	padding: 0.5em;
	border-radius: 10px;
	margin: 0.5em;
	text-align: center;
	font-size: 120%;
	width: 7em;
	margin-left: auto;
	margin-right: 1em;
}
#link_fim {
  .bot_msg;
}
#bot_escolha_cancelar {
  .bot_msg;
  margin-top: 3em;
  padding: 0.5em;
	font-size: 100%;
  p {
    margin: 0px;
  }
}

.jogador {
	background-color: @fundo_jog;
	display: inline-block;
	float: left;
	width: (@largura_carta+7)*6;
	height: 80%;
	margin: 1em;
	border-radius: 10px;
	.naipe {
		margin: 90px 0em 0em 0em;
		display: inline-block;
		width: @largura_carta;
		height: 100%;
		vertical-align: top;
	}
	h4 {
		height: 1em;
		margin: 0.4em;
		margin-left: 0.7em;
		color: @branco;
	}
}
.sub_jogador {
	background-color: @branco;
	border-radius: 10px;
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	border-style: solid;
	border-width: thin;
	border-color: @fundo_jog;
	padding: 0.5em;
	height: 95%;
}

table.final {
  width: 100%;
  margin-top: 0.5em;
}
.final_nome {
  .sombra;
  background-color: @vermelho;
  color: @branco;
  padding: 0.5em;
	border-radius: 6px;
  margin: 0.5em;
  text-align: center;
  font-size: 150%;
}
.final_pontos {
  background-color: @branco;
  text-align: center;
	border-radius: 3px;
	border-style: solid;
	border-width: medium;
	border-color: @vermelho;
  margin: 1em;
  margin-top: 0.2em;
  padding: 0.2em;
  font-size: 200%;
  font-weight:bold;
}
.final_msg {
  background-color: #FEFFC5;
  padding: 1em;
	border-radius: 20px;
  margin: 0.5em;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 200%;
  h2 {
    margin-top: 0em;
    margin-bottom: 0.2em;
  }
}
.final_link {
  .sombra;
	display:block;
	text-decoration:none;
  color: @branco;
  padding: 0.5em;
	border-radius: 10px;
  margin: 0.5em;
  text-align: center;
  font-size: 150%;
  width: 7em;
  margin-left: auto;
  margin-right: 1em;
  &.rank {
    background-color: @verde;
  }
  &.lobby {
    background-color: @roxo;
  }
}
.final_fundo {
  height: 100%;
  margin: 0em;
	background-size: 100%;
  background-image: url("/static/imagens/final_fundo.png")
}

.rank_topo {
  height: 20%;
  padding: 2em;
  img {
    height: 100%;
  }
  h1 {
    font-size: 300%;
    display: inline-block;
    margin-left: 1em;
    vertical-align: top;
  }
}
.p_rank {
	.painel(@verde);
  table {
    padding-left: 2.5em;
    padding-right: 2em;
  }
}
.sub_rank {
	.submenu(@verde);
	overflow-y: scroll;
	color: @preto;
	height: 50%;
  table {
    width: 100%;
  }
  td.posicao {
    width: 3em;
  }
  td.nome {
    width: 20%;
  }
}
