@fundo: #222;
@fundo_jog: #242;

.texto {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}


body {
  background-color: @fundo;
  display: table;
  table-layout: fixed;
}

.centro {
  width: 2800px;
}

.jogador {
  background-color: @fundo_jog;
  display: inline-cell;
  width: 600px;
  height: 800px;
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: darken(@fundo_jog,20%);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #000;

  .nome {
    .texto;
    padding: 5px 10px;
    text-align: left;
    display: inline;
  }
  
  .dinheiro {
    .texto;
    display: inline;
    text-align: right;
    padding: 10px 10px;
  }

  .naipe {
    display: inline-block;
    width: 100px;
    height: 500px;
    vertical-align: top;
  }

  .carta {
    width: 90px;
    height: 130px;
    padding: 5px;
    display: inline-block;
    border-radius: 7px;
    border-width: 2px;
    border-style: solid;
    margin: -105px 0px;
    box-shadow: 2px 2px 2px #000;

    .num {
      .texto;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      vertical-align: center;
      margin: 0px;
    }
    .nome {
      .texto;
      display: inline;
      padding: 0px 5px;
    }
    @carta_sat: 80%;
    @carta_dark: 10%;
    @carta_light: 25%;
    @carta_vermelho: hsl(0, @carta_sat, @carta_light);
    &.vermelho {
      background-color: @carta_vermelho;
      border-color: darken(@carta_vermelho, @carta_dark); 
    }
    @carta_amarelo: hsl(60, @carta_sat, @carta_light);
    &.amarelo {
      background-color: @carta_amarelo;
      border-color: darken(@carta_amarelo, @carta_dark); 
    }
    @carta_verde: hsl(120, @carta_sat, @carta_light);
    &.verde {
      background-color: @carta_verde;
      border-color: darken(@carta_verde, @carta_dark); 
    }
    @carta_azul: hsl(210, @carta_sat, @carta_light);
    &.azul {
      background-color: @carta_azul;
      border-color: darken(@carta_azul, @carta_dark); 
    }
    @carta_roxo: hsl(270, @carta_sat, @carta_light);
    &.roxo {
      background-color: @carta_roxo;
      border-color: darken(@carta_roxo, @carta_dark); 
    }
  }
}
