doctype 5
html
  head
    title
      -block titulo
        |Jogo de Cartas
    meta name="keywords" content="template language"
    meta http-equiv="Content-Type" content="text/html;charset=UTF-8"
    link href="static/estilo.less" rel="stylesheet/less" type="text/css" 
    link rel="stylesheet" href="/deform_static/css/form.css" type="text/css"
    link rel="stylesheet" href="/deform_static/css/beautify.css" type="text/css"
    script type="text/javascript" src="/deform_static/scripts/deform.js"
    script src="static/less.js" type="text/javascript"
    script src="static/jquery.js" type="text/javascript"

    script type="text/javascript"
      var meu_nome = "Tolo1";
      var meu_cod = "teste";
      var mode = 0;
      var num_jogada = 0;
      var cartas = {};
      $.getJSON("baralho", function(data){
        cartas = data;
      });

  body
    /.cabeca
    /  header Comeco
    .centro
      -block central
        h1 HAHAHAHA! Alguem devia ter colocado algo aqui!

      script type="text/javascript"
        function carta_clicada() {
          var id = $(this).attr('id');
          $.post("jogada", {"jogador":meu_nome,"cod":meu_cod,"jogada":modo+id})
          //.success(function(data) { alert("sucesso!"+data); })
          .success(tratar_erro)
          .error(function(data) { alert("erro!"+data); });
          atualizar();
        }
        $("#jogar_carta").click(function() {
          modo = "J";
        });
        $("#descartar_carta").click(function() {
          modo = "D";
        });
        $("#comprar_carta").click(function() {
          modo = "C";
        });
        $("#mais_din").click(function() {
          $.post("jogada", {"jogador":meu_nome,"cod":meu_cod,"jogada":"G1"})
          .success(tratar_erro)
          .error(function(data) { alert("erro!"+data); });
          atualizar();
        });
        $("#mais_carta").click(function() {
          $.post("jogada", {"jogador":meu_nome,"cod":meu_cod,"jogada":"M1"})
          .success(tratar_erro)
          .error(function(data) { alert("erro!"+data); });
          atualizar();
        });
        $("#reiniciar").click(function() {
          $.post("jogada", {"jogador":meu_nome,"cod":meu_cod,"jogada":"R1"})
          .success(tratar_erro)
          .error(function(data) { alert("erro!"+data); });
          num_jogada = -1;
          atualizar();
        });
        function tratar_erro(msg) {
          if(msg.split(":")[0] == "ERRO") {
            alert(msg);
          }
        }
        function atualizar() {
          $.post("atualizar", {"jogador":meu_nome,"cod":meu_cod,"num_jogada":num_jogada}, function(data){
            if(data!="0"){
              dic = JSON.parse(data);
              num_jogada = dic["num_jogada"];
              $('.menu_mao').html(dic["mao"]);
              $('.mesas').html(dic["mesas"]);
              $(".carta").click(carta_clicada);
            }
          });
        }
        setInterval('atualizar()', 3000);
        $(".carta").click(carta_clicada);

    .rodape
      footer Fim
